
    
.containre{
    
    
}
tr{
   
    
}
td{
    
}
.buttonpm{
    display: flex;
}
.del{
    display: flex;
    
}
.like{
    margin: 10px;
    

}
p{
    margin: 5px;
    font-size: 20px;
}


    
    

.delete{
    
    padding: 5px;
    

}